html,
body {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  background-color: #020e26;
  font-family: "Roboto";
  margin: 0;
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
  background-color: #3bd9d9;
  margin-bottom: 16px;
  width: 200px;
  aspect-ratio: 4/3;
}
.item-1 {
  border-radius: 32px;
}
.item-2 {
  border-radius: 48px 0;
}
.item-3 {
  border-radius: 0 0 0 32px;
}
.item-4 {
  border-radius: 64px 48px 16px 96px;
}
