* {
  font-family: "Poppins";
}

html,
body {
  height: 100%;
  background-color: #020e26;
  overflow: hidden;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  display: inline-block;
  font-size: 64px;
  text-align: center;
  border: 0;
  border-radius: 64px;
  padding: 8px 56px;
  color: #ffffff;
  background-color: #b527cf;
  cursor: pointer;
  overflow: hidden;
  transform: translate(0);
}

button::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, #b527cf, #3bd9d9);
  transition: 0.4s ease;
  transform: scaleX(0);
  transform-origin: 100% 0%;
}

button:hover::before {
  transform: scaleX(1.1) scaleY(1.1);
}
