* {
  font-family: "Roboto";
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #020e26;
}

h1 {
  font-size: 72px;
  background: linear-gradient(270deg, #b527cf, #3bd9d9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
