body {
  background: #020e26;
  font-family: "Roboto", sans-serif;
  padding: 16px;
}

h2,
p {
  color: #ffffff;
}

button {
  color: #020e26;
  border: 0;
  padding: 12px 24px;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  margin-top: 24px;
  background-color: #36a6bf;
  border-radius: 24px;
}
