* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #020e26;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

.cell {
  display: flex;
  align-content: center;
  flex-direction: column;
  width: 300px;
  height: 600px;
  padding: 28px 0;
  border: 14px solid #193264;
  border-radius: 48px;
}

.cell .body {
  overflow-y: scroll;
  padding: 0 24px;
}

.cell .body::-webkit-scrollbar {
  width: 6px;
}

.cell .body::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
}

.cell .body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
}

a,
h3,
p {
  color: #ffffff;
}

a,
h3 {
  font-size: x-large;
  font-weight: 500;
  margin-top: 24px;
}

a {
  text-transform: none;
  text-decoration: none;
}

p {
  font-size: small;
}
